<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE settings SYSTEM "settings.dtd">
<settings>
  <property key="locale" value="it_IT"/>
  <property key="viewStatusBar" value="true"/>
  <property key="viewToolBar" value="true"/>
  <property key="maxRecentFiles" value="10"/>
  <property key="recentFile" value="C:\Users\ideapad GAMING\Desktop\BNW repositories\BNW-IT\gfx\047FC0_menu_font.bin"/>
  <property key="recentFile" value="C:\Users\ideapad GAMING\Desktop\BNW repositories\BNW-2.2\gfx\047FC0_menu_font.bin"/>
  <property key="recentFile" value="C:\Users\ideapad GAMING\Desktop\BNW repositories\BNW-ES\gfx\047FC0_menu_font.bin"/>
  <property key="recentFile" value="C:\Users\ideapad GAMING\Desktop\FF6 T-Edition and EX Translation Tools and Source\_graphics\graphics-english-small-font.bin"/>
  <property key="recentFile" value="C:\Users\ideapad GAMING\Desktop\FF6 T-Edition and EX Translation Tools and Source\_graphics\graphics-english-font-width-table.bin"/>
  <property key="recentFile" value="C:\Users\ideapad GAMING\Desktop\FF6 T-Edition and EX Translation Tools and Source\_graphics\graphics-english-font.bin"/>
  <property key="recentFile" value="C:\Users\ideapad GAMING\Desktop\FF6 T-Edition and EX Translation Tools and Source\_graphics\graphics-the-end.bin"/>
  <property key="recentFile" value="C:\Users\ideapad GAMING\Desktop\FF6 T-Edition and EX Translation Tools and Source\_graphics\graphics-credits-small-font.bin"/>
</settings>
